streamlit
torch
torchvision
segmentation-models-pytorch
opencv-python-headless
albumentations
Pillow
numpy

# cd /Users/sithijaseneviratne/Documents/GitHub/Image-Segmentation
# source venv/bin/activate
# streamlit run app.py